body {
    margin: 0px;
    overflow: hidden;
}

#menu {
    background-color: #2486a6;
    /*position: fixed;*/
    /*padding: 5px 5px;*/
    width: 100%;    
    z-index: 10;
}

#menu .container.left {
    float: left;
}

#menu .container.right {
    float: right;
}

#menu::after {
    content: "";
    display: table;
    clear: both;
}

#menu .button {
    border: solid 1px #b3b3ac;
    background-color: lightblue;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    line-height: 30px;
    margin: 5px;
    padding: 0 10px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: sans-serif;
    color: #3a3a3a;
    position: relative;
}

#menu .button:hover {
    background-color: lightyellow;
}

#menu .submenu {
    position: absolute;
    display: none;
    background: lightblue;
    /*width: 240%;*/
    /*left: 10px;*/
    margin-right: -10000px;
    border-radius: 3px;
    z-index: 10;
}

#menu .submenu .submenu_button {
    padding: 0px 10px;    
}

#menu .submenu .submenu_button.sets {
    display: table-row;
}

#menu .submenu .submenu_button.sets .set_title {
    display: table-cell;
    padding: 0px 10px;    
}

#menu .submenu .submenu_button.sets .theme_title {    
    background-color: lightgreen;    
    padding: 0px 10px;
    border-radius: 10px;
    line-height: 25px;    
}

#menu .submenu .submenu_button:hover {
    background-color: lightyellow;
}

#menu .submenu .load_button:hover,
#menu .submenu .submenu_button.sets .theme_title:hover {
    background-color: pink;
}

.load_button {
    border-radius: 3px;
    background-color: lightgreen;
}

#menu #sandwich:hover .submenu,
#menu #mode:hover .submenu,
#menu #set:hover .submenu,
#menu #comment:hover .submenu {
    display: block;
}

#menu #start.button,
#menu .start.button {
    background-color: #99df95;
}

#menu #start.button:hover,
#menu .start.button:hover {
    background-color: green;
    color: #99df95;
}

#menu #stop.button,
#menu .stop.button {   
    background-color: #f3b4a9;
}

#menu #stop.button:hover,
#menu .stop.button:hover {
    background-color: red;
    color: #f3b4a9;
}

#menu #step.button,
#menu #comment.button {
    display: none;
}

#gallery {
    position: fixed;
    /*top: 41px;*/
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    /*height: 100%;*/
    z-index: 3;
    display: none;
}

#gallery .header {
    width: 100%;
    height: 5%;
}

#gallery .header .container.left,
#gallery .header .container.right {    
    float: left;
    width: 10%;
}

#gallery .header .container.center {    
    float: left;
    width: 80%;
}

#gallery .text_container .layout-positioner {
    display: table;
    width: 100%;  
}

#gallery .layout-positioner>.text_button {
    display: table-cell;
    width: 10%;
}

#gallery .layout-positioner>.string {
    color: white;
    display: table-cell;
    width: 80%;    
}

#gallery .header .layout-positioner>.string {
    text-align: center;
}

#part_header .buttons .button,
#gallery .buttons .button,
#knowlege_elements .button {
    color: white;
    border: 1px white solid;
    border-radius: 1px;
    display: inline-block;
    cursor: pointer;
}

#gallery .buttons #open-text-string.button {
    display: none;
}

/*#gallery #close-gallery {
    float: right;
}*/

#gallery .slider {
    height: 70%;
    width: 100%;
}

#gallery .slider-viewport {
    float: left;
    /*width: 80%;*/
    height: 100%;
}
#gallery .slider-viewport img {
    border: 3px solid transparent;
}
#gallery .slider-button.left {
/*    background: url('../data/pics/control-sprite.png') no-repeat;
    background-position: 20px 0;*/
}
#gallery .slider-button.right {
/*    background: url('../data/pics/control-sprite.png') no-repeat;
    background-position: -40px 0;*/
}

#gallery .slider-button,
#gallery .film-button {
    float: left;
    /*width: 10%;*/
    height: 100%;
    color: white;
    cursor: pointer;
}

/*.gallery-overlay-controls {
  text-align: center;
  margin-bottom: 30px;
}

.gallery-overlay-control {
  background: url('../data/pics/control-sprite.png') no-repeat;  
  display: inline-block;
  height: 40px;
  opacity: 0.3;
  vertical-align: middle;
  width: 40px;
}

.gallery-overlay-control:hover {
  opacity: 1;
}

.gallery-overlay-control:active {
  transform: translate(0, 1px);
}

.gallery-overlay-control-right {
  background-position: -40px 0;
}*/

#gallery .slider-button:hover,
#gallery .film-button:hover {
    background-color: rgba(256, 256, 256, 0.1);
}

#gallery .film,
#gallery>.text_container {
    width: 100%;
    height: 25%;
}

#gallery .film-row {
    float: left;
    /*width: 90%;*/
    height: 100%;
}

#gallery .film .film-postioner {
    /*display: inline-block;*/
    float: left;    
    padding-right: 3px;
    padding-top: 7px;    
    /*height: 100%;*/
}

#gallery .film-postioner:last-child {
    padding-right: 0;
}

#gallery>.text_container {
    display: none;
    overflow: auto;

}

#gallery .layout-positioner {
    margin: 0px;
}
/*#gallery img {
    height: 100%;
}*/

.film-postioner img {
    height: 100%;
    border: 3px solid transparent;
    cursor: pointer;
}

#gallery img.media_opened {
    border-color: white;
}

#document {
    overflow: auto;    
}

#parts {
    position: fixed;
    background-color: white;
    width: 100%;    
    z-index: 2;
    display: none;
}

#part_header {
    width: 100%;
    height: 4%;
    background: lightblue;    
}

#part_title {
    font-family: sans-serif;
}

#part_header .container {
    float: left;
}

#part_header .container.left {
    width: 90%;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

#part_header .container.right {
    width: 10%;
}

#part_header #close-parts {
    float: right;
}

.delete_button, .close-button {
    float: right;
    background-color: darkred; 
}

.part {
    display: none;
    overflow: auto;
    height: 96%;
    /*border: 1px black solid;*/
    width: 100%;
}

/*.list_container {
    overflow: auto;
}*/

/*.list_container .list::after {
    content: "";
    display: table;
    clear: both;
}*/

.list_container div {
    padding-left: 10%;
    cursor: pointer;
    color: blue;
    /*text-decoration: underline;*/
}

.list_container div:hover {
    background-color: lightyellow;
}

#main_text {
    z-index: 1;
    /*display: table;*/
    /*border-spacing: 10px 5px;*/
}

.layout-positioner {
    display: table;
    width: 100%;
    margin: 5px 0;
}

.text_container .layout-positioner>.text_button {
    display: table-cell;
    width: 10%;
}

.text_container .layout-positioner>.string {
    display: table-cell;
    width: 80%;
}

.text_container .layout-positioner>.string>span:first-child {
    margin-left: 15px; 
}

span.top_shift span,
span.top_shift:before,
span.top_shift:after {    
    vertical-align: top;
}

span.top_shift:before,
span.top_shift:after {
    cursor: default;
}

span.top_shift {
    font-size: 0.75em;
    color: blue;
    cursor: pointer;
}

span.footnote:before {
    content: "(";
}

span.footnote:after {
    content: ")";
}

span.media_link:before {
    content: "[";
}

span.media_link:after {
    content: "]";
}

span.external_link:before {
    content: "{";
}

span.external_link:after {
    content: "}";
}

span.document_link:before {
    content: "<";
}

span.document_link:after {
    content: ">";
}
span.string_number {
    color: blue;
    font-weight: bold;
    margin-right: 5px;
    cursor: pointer;
}

.text_container .layout-positioner>.film-button {
    display: table-cell;
    width: 10%;
}

.text_container .layout-positioner>.film {
    display: table-cell;
    /*padding-top: 5px;*/
}

.text_container .layout-positioner>.film .film-postioner,
#media_album .film-postioner {
    display: inline-block;
    /*padding-right: 5px;*/
    height: 140px;
    margin-top: 5px;

}

#knowlege_elements .film-postioner img {
    padding: 5px;
    display: block;
    border-width: 0;
    height: 140px;
    margin: auto;
}

.part_media.main_media::after {
    content: "";
    display: table;
    clear: both;
}

.text_container .layout-positioner>.film .film-postioner:last-child {
    padding-right: 0;
}

.text_container .layout-positioner>.film .film-postioner img {
    /*height: 150px;*/
    /*height: 100%;*/
}

.empty {
	background-color: transparent;
}

.saved_stressed {
    background-color: lightgreen;
    color: black;
}

.temporary_stressed {
	background-color: yellow;
    color: black;
}

.stressed {
    background-color: red;
    color: black;
}

.start_temporary_stressed {
    background-color: violet;
}

.focused {
    background-color: pink;
    color: black;
}


.film-postioner img.media_saved_stressed,
.slider-viewport img.media_saved_stressed {
    border-color: lightgreen;
}

.film-postioner img.media_stressed,
.slider-viewport img.media_stressed {
    border-color: red;
}

.film-postioner img.media_temporary_stressed,
.slider-viewport img.media_temporary_stressed {
    border-color: violet;
}

.film-postioner img.media_focused,
.slider-viewport img.media_focused {
    border-color: pink;
}

.knowlege_element {
    border: 1px #b3b3ac solid;
    border-radius: 5px;    
    margin: 5px 5px;
    font-family: sans-serif;
    font-size: 0.75em;
    font-weight: bold;
}

.knowlege_element_header {
    border-radius: 5px;    
    background: lightgreen;
    padding: 5px;
}

.knowlege_element_header::after,
.part_content_header::after {
    content: "";
    display: table;
    clear: both;
}

.knowlege_element_header.uncompleted,
.part_content_header.uncompleted {
    background: pink;
}

.element_number,
.element_date {
    float: left;
    font-weight: bold;
    padding: 0 5px;
}

.knowlege_element_header .element_number {
    border-radius: 10px;
    background: mediumseagreen;
}

.knowlege_element_header.uncompleted .element_number,
.part_content_header.uncompleted .part_number {
    background: red;
}

.knowlege_element_parts {
}

.knowlege_element_part {
    margin: 5px;
    border: 1px #b3b3ac solid;
    border-radius: 10px;
}

.part_header {
    background: lavender;
}

.part_text {
    margin: 5px;
    border: 1px #b3b3ac solid;
    border-radius: 10px;
}

.part_content_header {
    text-transform: uppercase;
    background: lightsteelblue;
    border-radius: 10px;
    padding: 5px;
}

.part_content_header.context_header {
    background: powderblue;
}

.part_number,
.part_content_title,
.ke_button,
.part_media_title {
    float: left;
    font-weight: bold;    
    border-radius: 10px;
    padding: 0 5px;
}

.part_number {
    background: cornflowerblue;
}

 .part_media_title {
    background: salmon;
    cursor: pointer;
 }

.ke_button {
    float: right;
    background: darksalmon;
    cursor: pointer;
}

.ke_button:hover {
    background: lavender;
}

.part_content_text {
    padding: 5px;
    font-weight: normal;
    font-family: serif;
    font-size: 1.4em;
}

textarea {
    position: relative;
    top: 45px;
    width: 400px;
    height: 500px;
}